<div class="form-inline nested-fields">
  <%= form.input :location %>
  <%= form.input :position, as: :integer %>
  <%= form.input :latitude %>
  <%= form.input :longitude %>
  <%= link_to_remove_association "remove checkpoint", form %>
</div>
