<% if @races.any? %>
  <table style="width: 100%">
    <thead>
      <th>Race</th>
      <th>From</th>
      <th>To</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @races.each do |race| %>
        <tr>
          <td><%= race.name %></td>
          <td><%= race.starting_line.try(:location) %></td>
          <td><%= race.finish_line.try(:location) %></td>
          <td>
            <%= link_to 'Show', race_path(race) %> |
            <%= link_to 'Edit', edit_race_path(race) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Create Race', new_race_path %>
